* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: system-ui, sans-serif;
  background: #0f172a;
  color: #e2e8f0;
}

/* Map container background */
.leaflet-container {
  background: #0f172a !important; /* Prevents white flashes during map pan */
}

.sentinel-tiles-layer {
  /* Rozjaśnia ciemno-szarą mapę bazową, dodaje tonację i obraca w kierunku granatu */
  filter: brightness(200%) sepia(80%) hue-rotate(185deg) saturate(250%) !important;
}
